<template>
  <div class="view-card elevation-4" style="width: 800px;">
    <div class="card-header">
      <small style="color: #06496f;opacity: 0.5;">{{cardDetails.section_name}}</small>
      <div class="row">
        <div class="col-md-7 m-0 pt-0 pb-0 pr-0">
          <h5 v-on:click="renameCard(card_form.name)" v-if="card_form.updateFlag === 0" style="margin-top: 10px;">{{card_form.name}}</h5>
          <input v-if="card_form.updateFlag === 1" type="text" v-bind:class="{'is-invalid' : hasError}"
                 v-model="card_form.name"
                 v-on:keyup.enter="updateCard({card_id: cardDetails.id, name: card_form.name})">
          <input type="text" hidden :id="'card_id'" :name="'card_id'" v-model="cardDetails.id">
        </div>
        <div class="col-md-5 m-0 text-right">
          <!--<a href="javascript:void(0)"  @click="attachDocument()" class="badge badge-success"><i class="fas fa-paperclip"></i> Attach Document</a>-->
          <a href="javascript:void(0)" v-if="card_form.document === '' || card_form.document === null" v-on:click="attachDocument" style="color: #ffffff;" class="badge badge-success"><i class="fas fa-paperclip"></i> Attach Document</a>
          <span v-if="card_form.document !== '' && card_form.document !== null" style="color: #ffffff;" class="badge badge-default"><a :href="'/storage/pipeline/documents/' + card_form.document" style="color:#FFFFFF;" download><i class="fas fa-file"></i> {{card_form.document}} </a><a href="javascript:void(0)" class="text-danger" @click="deleteDocument(cardDetails.id)"><i class="fas fa-trash"></i></a></span>
          <input style="display: none;" type="file" :id="'file-card'" @change="attachedDocument(cardDetails.id)" class="form-control form-control-sm col-md-12" value="Add File"/>
          <a href="javascript:void(0)"  @click="sendEmailTemplate()" class="badge badge-primary"><i class="far fa-envelope"></i> Send Email</a>
        </div>
      </div>
    </div>
    <div class="card-body" style="padding:0 0.7rem 0.7rem 0.7rem;direction:rtl;">
        <div style="direction: ltr">
        <!-- <div class="row" style="margin-top:1rem;">
          <div class="col-md-12 mb-0 mt-0 pt-0">
            <small class="card-lables">Corporate client</small>
            <h5 v-on:click="updateClient(card_form.client_name)" v-if="card_form.updateClient === 0 && card_form.client_name !== ''" style="margin-top: 0px;margin-bottom: 0px;">{{card_form.client_name}}</h5>
            <h5 v-on:click="updateClient(card_form.client_name)" v-if="card_form.updateClient === 0 && card_form.client_name === null" style="margin-top: 0px;margin-bottom: 0px;">None</h5>
            <select v-if="card_form.updateClient === 1" @input="updateClient(card_form.client_name)" class="form-control form-control-sm" v-model="card_form.client_name"  v-bind:class="{'is-invalid' : hasError}">
              <option value="" disabled>Select client</option>
              <option v-for="client in office_clients" :value="client">{{client}}</option>
            </select>
          </div>
        </div> -->
        <div v-for="input in card_inputs">
          <!-- <div v-for="input_value in card_input_values"> -->

              <!-- <p>{{input}}</p><br> -->

            <!-- <div v-for="input in card_inputs"> -->
          <div v-for="input_value in card_input_values">
            <!-- <p>{{input}}</p><br> -->
            <div v-if="input.id == input_value.card_input_id">
              <div v-if="input_value.card_id == cardDetails.id">
              <!-- <p>{{input}}</p><br> -->

              <div v-if="input.input_type == 'heading'">
                <div class="row" style="margin-top:1rem;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small><strong>{{input.name}}</strong></small>
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'text'">
                <div class="row" style="margin-top:1rem;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    <input disabled :id="'input_'+input.id" type="text" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_value.data" />
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'textarea'">
                <div class="row" style="margin-top:1rem;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    <textarea disabled :id="'input_'+input.id" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_value.data" ></textarea>
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'date'">
                <div class="row" style="margin-top:0px;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    <input disabled :type="'date'" :id="'input_'+input.id" type="text" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_value.data" />
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'boolean'">
                <div class="row" style="margin-top:1rem;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    <br>
                    <input disabled :id="'input_'+input.id" :name="'input_'+input.id" v-model="input_value.data" type="radio" value="1">
                    <label>Yes</label>
                    <br>
                    <input disabled :id="'input_'+input.id" :name="'input_'+input.id" v-model="input_value.data" type="radio" value="0">
                    <label>No</label>
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'dropdown'">
                <div class="row" style="margin-top:1rem;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    <br>
                    <!-- <select :id="'input_'+input.id" :name="'input_'+input.id" class="form-control form-control-sm chosen-select" v-model="input_values['input_'+input.id]"> -->
                      <!-- <option :value="0"></option> -->
                      <template v-for="item in dropdown_items">
                        <template v-if="item.card_input_dropdown_id == input.input_id">
                          <template v-if="item.id == input_value.data">
                            <small>{{item.name}}</small>
                          </template>
                        </template>
                      </template>
                    <!-- </select> -->
                  </div>
                </div>
              </div>

              <div v-if="input.input_type == 'document'">
                <div class="row" style="margin-top:0px;">
                  <div class="col-md-11 mb-0 mt-0 pt-0">
                    <small>{{input.name}}</small>
                    document
                  </div>
                </div>
              </div>

            </div>
            </div>
          </div>

        </div>
        <!-- <div class="row" style="margin-top:1rem;border-bottom: 2px solid #b5c9d4;margin-bottom:1rem;direction: ltr;">
          <div class="col-md-12 pb-0 pt-0">
            <small class="card-lables">Description</small>
            <textarea v-model="card_form.description" rows="7" class="form-control form-control-sm">{{card_form.description}}</textarea>
          </div>
        </div> -->
        <!--<p class="card-task-heading"><strong>Tasks</strong><a href="javascript:void(0)" class="float-right" @click="addTask"><i class="fa fa-plus"></i> Add task</a></p>-->
        <p><strong>Tasks</strong><a href="javascript:void(0)" class="text-primary float-right" @click="addTask"><i class="fa fa-plus"></i> Add task</a></p>
        <div class="col template-tasks">
          <div style="position:relative;border-bottom:1px solid #ecf1f4;padding-bottom:0.5rem;margin-bottom:0.5rem;" v-for="(taskItems, task_item_index) in card_tasks" :class="'task_'+task_item_index">
            <div class="row">
              <div class="col-lg-10 pt-0 pb-0">
                <input type="hidden" class="form-control form-control-sm task-name" v-model="taskItems.id">
                <input v-bind:class="{'is-invalid' : hasError}" v-if="taskItems.editTask" type="text" class="form-control form-control-sm task-name" placeholder="Add task name" v-model="taskItems.name">
                <span v-if="!taskItems.editTask" @click="enableTask(task_item_index)" style="line-height:3rem;">{{taskItems.name}}</span>
              </div>
              <div class="col-lg-2 text-right pt-0 pb-0">
                <a href="#" class="mr-1" v-show="taskItems.status" @click="uncompleteTask(task_item_index)"><i class="fas fa-check text-success mr-1"></i></a>
                <a href="#" class="mr-1" v-show="!taskItems.status" @click="completeTask(task_item_index)"><i class="fas fa-check text-default"></i></a>
                <a href="#" @click="deleteTask(task_item_index)"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            <span class="float-left">
            <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee === ''"><i class="fas fa-user"></i> + Assign to a person</small>
            <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee !== '' || taskItems.assignee_name !== ''"><i class="fas fa-user"></i>  {{taskItems.selected_assignee !== '' && taskItems.selected_assignee !== null ? taskItems.selected_assignee : taskItems.assignee_name}}</small>
            <!--<small @click="assignTask(task_item_index)" v-if="taskItems.assignee_name !== null"><i class="fas fa-user"></i>  {{taskItems.assignee_name}}</small>-->
            <div v-if="taskItems.assign_user" class="assign-person elevation-3">
              <div class="row pr-0 pb-0 pt-0 m-0">
                <div class="col-md-9 pl-0 pt-0 pb-0">
                <select v-model="taskItems.assignee" class="form-control form-control-sm" @change="taskUserAssigned(task_item_index)">
                  <option disabled>Select User</option>
                  <option v-for="user in office_users" :value="user">{{user}}</option>
                </select>
                </div>
              </div>
          </div>
          </span>
            <span class="float-right">
              <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate === '' || taskItems.due_date === ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> + Add deadline</small>
              <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate !== '' && taskItems.due_date !== ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> {{taskItems.selected_duedate !== '' && taskItems.selected_duedate !== null ? taskItems.selected_duedate : taskItems.due_date}}</small>
              <div class="assign-deadline elevation-3" v-show="taskItems.add_deadline">
                <DueDate v-model="taskItems.due_date" :open.sync="taskItems.open6" @pick="handleChange(task_item_index)" type="date" :use-utc="false"></DueDate>
              </div>
              <small @click="addSubTasks(task_item_index)" class="ml-1">
                <span v-if="taskItems.sub_tasks && taskItems.sub_tasks.length === 0"><span class="text-info"><i class="fas fa-network-wired"></i></span> + Add subtasks</span>
                <span v-if="taskItems.sub_tasks && taskItems.sub_tasks.length > 0"><span class="text-info"><i class="fas fa-network-wired"></i></span> {{taskItems.sub_tasks.length}} {{ taskItems.sub_tasks.length !== 1 ? "subtasks" : "subtask" }}</span>
              </small>
            </span>
            <div class="clearfix"></div>

          <div style="position:relative;display: block;" v-if="taskItems.add_sub_task">
            <div class="row subtask" v-for="(subtaskItems, subtask_item_index) in taskItems.sub_tasks">

              <div class="col-md-10 pt-0 pb-0">
                <input type="hidden" class="form-control form-control-sm task-name" v-model="subtaskItems.id" :class="'subtask_'+subtask_item_index">
                <input type="text" v-bind:class="{'is-invalid' : hasError}" v-show="subtaskItems.editSubtask" class="form-control form-control-sm task-name" placeholder="Add subtask name" v-model="subtaskItems.name">
                <span v-if="!subtaskItems.editSubtask" @click="enableSubtask(task_item_index,subtask_item_index)" style="line-height:3rem;">{{subtaskItems.name}}</span>
              </div>
              <div class="col-md-2 text-right pt-0 pb-0">
                <a href="#" class="mr-1" v-show="subtaskItems.status && !subtaskItems.editSubtask" @click="uncompleteSubtask(task_item_index,subtask_item_index)"><i class="fas fa-check text-success"></i></a>
                <a href="#" class="mr-1" v-show="!subtaskItems.status && !subtaskItems.editSubtask" @click="completeSubtask(task_item_index,subtask_item_index)"><i class="fas fa-check text-default"></i></a>
                <a href="#" class="text-danger mr-1" @click="addSubtaskDeadline(task_item_index,subtask_item_index)"><i class="far fa-calendar-alt"></i></a>
                <div class="assign-deadline2 elevation-3" v-show="subtaskItems.add_deadline">
                  <DueDate v-model="subtaskItems.due_date" autocomplete="off" :open.sync="subtaskItems.open4" @pick="handleChange4(task_item_index,subtask_item_index)" type="timestamp"></DueDate>
                </div>
                <a href="#" @click="deleteSubtask(task_item_index,subtask_item_index)" class="delete-subtask"><i class="fas fa-trash"></i></a>
              </div>

            </div>
            <div class="addsubtask">
              <a href="javascript:void(0)" @click="addSubTask(task_item_index)">+ Add Subtask</a>
            </div>
          </div>

          </div>
        </div>
      <div class="card-discussion" style="direction: ltr">
        <p><strong>Discussion</strong></p>
        <div class="row">
          <div class="col-md-10 pt-0 pb-0 pr-0 m-0">
            <input type="text" v-model="discussion_message" class="form-control form-control-sm">
          </div>
          <button type="button" @click="saveDiscussionMessage(cardDetails.id)" class="btn btn-sm btn-primary float-right ml-1">Post</button>
        </div>
        <div v-for="discussion in discussions">
          <strong>{{ (discussion.user.first_name?discussion.user.first_name:"") + " " + (discussion.user.last_name?discussion.user.last_name:"")}}</strong>
          <p>{{discussion.message}}</p>
          <hr>
        </div>
      </div>
        <div class="card-recordings">
        <p><strong>Voice Notes</strong></p>
        <div>
          <vue-record-audio @result="onResult" style="height:40px !important;width:40px !important;" />
          <audio id="audioPlayer" controls src="#" type="audio/mpeg" style="height:40px !important;width:calc(100% - 140px);"></audio>
          <a href="#" type="button" class="btn btn-secondary" style="margin-left: 7px;position:relative;top:-16px;line-height:1.25rem;margin-bottom:0px;" @click="saveVoice(cardDetails.id)" >Save</a>
        </div>
        <hr>
        <div v-for="voicenote in recordings">
          <div>
            <audio class="audioPlayer" controls :src="'/storage/recording/' + voicenote.recording" type="audio/mpeg" style="width:100%;height:40px;"></audio>
            <small class="text-muted float-left" style="margin-left: 10px;position:relative;font-size:65%;padding-bottom:7px;"><i class="fas fa-user"></i> {{ voicenote.user }}</small>
            <small class="text-muted float-right" style="margin-left: 10px;position:relative;font-size:65%;padding-bottom:7px;"><i class="fas fa-clock"></i> {{ voicenote.created_at }}</small>
          </div>
          <hr>
        </div>
      </div>
        </div>
    </div>
    <div class="card-footer clearfix">
      <button class="btn btn-sm btn-outline-info" @click="closeCard">Cancel</button>
      <button type="button" @click="saveTask(cardDetails)"  class="btn btn-sm btn-success float-right">Save Case</button>
    </div>


    <div class="modal-mask" v-show="link_client" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
          <div class="modal-header">

            <span class="modal-title">Link Client</span>
            <button type="button" class="close" @click="closeLinkClient()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <multiselect v-model="card_form.client_name" :custom-label="customLabel" placeholder="Select one" :options="office_clients" :searchable="true" :close-on-select="true">
            </multiselect>
            <button class="btn btn-sm btn-default float-right ml-1" @click="closeLinkClient()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="updateCard({card_id: cardDetails.id, client_name: card_form.client_name})">Save</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-mask" v-show="email_template" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
          <div class="modal-header">

            <span class="modal-title">Choose Email Template</span>
            <button type="button" class="close" @click="closeEmailTemplate()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <select class="form-control form-control-sm col-md-12 pt-0 pb-0" v-model="emailTemplate" title="Position">
              <option value="0" disabled hidden>Select Email Template</option>
              <option value="0">No Template</option>
              <option v-for="(value,key) in emailTemplates" :value="key">{{value}}</option>
            </select><br /><br />
            <button class="btn btn-sm btn-default float-right ml-1" @click="closeEmailTemplate()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="saveEmailTemplate()">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-mask" v-show="send_email" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
          <div class="modal-header">

            <span class="modal-title">Send Email</span>
            <button type="button" class="close" @click="closeSendEmail()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <input type="text" class="form-control form-control-sm task-name" placeholder="Add email addresses" v-model="emailAddresses">
            <input type="text" class="form-control form-control-sm task-name" placeholder="Add email subject" v-model="emailSubject">
            <tinymce-editor api-key="361nrfmxzoobhsuqvaj3hyc2zmknskzl4ysnhn78pjosbik2" v-model="emailContent" :init="{content_style: 'body { font-family: Arial; }',inline_styles:'',height:'200px',width:'100%',menubar:'',plugins: 'wordcount advlist lists table',branding:false,toolbar:'undo redo | fontselect fontsizeselect formatselect | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist checklist | forecolor backcolor casechange permanentpen formatpainter removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media pageembed template link anchor codesample | a11ycheck ltr rtl | showcomments addcomment | table tabledelete | tableprops tablerowprops tablecellprops | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol'}" ></tinymce-editor><br /><br />
            <button class="btn btn-sm btn-default float-right ml-1" @click="closeSendEmail()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="saveSendEmail()">Send</button>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="modal-mask" v-show="attach_document" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:500px;">
          <div class="modal-header">

            <span class="modal-title">Attachments</span>
            <button type="button" class="close" @click="attachDocument()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <div class="attachedDocumentList">
                <span v-for="attachedDocumentlst in attachedDocuments">{{ attachedDocumentlst.filename}}</span>
            </div>
            <v-file-input
                    v-model="card_form.files"
                    small-chips
                    clearable
                    accept=".*"
                    loading="true"
                    prepend-icon="mdi-paperclip"
                    clear-icon="mdi-delete"
                    @change="attachedDocument(cardDetails.id)"
            >
            </v-file-input>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm btn-default float-right ml-1" @click="attachDocument()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="saveSendEmail()">Send</button>
          </div>
        </div>
      </div>
    </div>-->
  </div>
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import DatePicker from 'vue2-datepicker';
  import 'vue2-datepicker/index.css';
  import VueRecord from '@codekraft-studio/vue-record';
  import AudioRecorder from 'vue-audio-recorder'


export default {
  name: "Card.vue",
  props: ["cardDetails",
          "card_section_id"
          ],
  components:{
    "DueDate": DatePicker,
    "DateField": DatePicker,
    "multiselect": Multiselect,
    'tinymce-editor': Editor, // <- Important part
    'VueRecord' : VueRecord,
    'AudioRecorder' : AudioRecorder,

  },
  mounted(){
    this.getCardsDropDown();
    this.getOfficeUsers();
    this.getOfficeClients();
    this.getOfficeAdvisors();
    this.getCardStatus();
    this.getEmailTemplates();
    this.cardSelect();
    this.getDropdownItems();
  },
  watch: {
    'cardDetails': function (val, oldVal) {
      this.card_form.client_id = val.client_id;
      this.card_form.client_name = val.client_name;
      this.card_form.member = val.member;
      this.card_form.contact = val.contact;
      this.card_form.email = val.email;
      this.card_form.lead_type = val.lead_type;
      this.card_form.lead_origin = val.origin_lead;
      this.card_form.name = val.name;
      this.card_form.document = val.document;
      this.card_form.director = val.director;
      this.card_form.advisor = val.advisor;
      this.card_form.consultant = val.consultant;
      this.card_form.eb_admin = val.eb_admin;
      this.card_form.lead_status = val.lead_status;
      this.card_form.priority_status_id = val.priority_id;
      this.card_form.priority_status = [];
      this.card_form.commission = val.commission;
      this.card_form.progress_status_id = val.status_id;
      this.card_form.date_lead = val.date_lead;
      this.card_form.date_lead_fa = val.date_lead_fa;
      this.card_form.follow_up = val.follow_up;
      this.card_form.fa_contact_client = val.fa_contact_client;
      this.card_form.follow_up_date = val.follow_up_date;
      this.card_form.survey_sent = val.survey_sent;
      this.card_tasks = val.tasks;
      this.discussions = val.discussions;
      this.attachedDocuments = [];
      this.card_tasks.sub_tasks = [];
      this.recordings = val.recordings;
      this.card_section_id = val.card_section_id;
    },
    internalValue(v){
      this.$emit('input', v);
    }
  },
  data: function (){
    return {
      hasError:false,
      emailTemplate:0,
      emailTemplates:[],
      emailContent:'',
      emailAddresses:'',
      emailSubject:'',
      email_template: false,
      attach_document: false,
      selectedObjects: [],
      cards_drop_down: [],
      office_users: [],
      office_advisors: [],
      office_clients: [],
      lead_types: [],
      directors: [],
      fund_consultants: [],
      eb_admins: [],
      lead_statuses: [],
      card_sections: [],
      card_inputs:[],
      card_input_values:[],
      card_section_id:'',
      card_section_input: {
        input_id: []
      },
      card_form: {
        dependency_id: '',
        name: '',
        assignee_id: 0,
        assignee_name: '',
        team_ids: [],
        team_names: [],
        priority_status_id: 0,
        progress_status_id: 0,
        updateFlag: 0,
        updateClient: 0,
        files: '',
        document: '',
        client_name: '',
        member: '',
        contact: '',
        email: '',
        lead_type: '',
        lead_origin: '',
        director: '',
        advisor: '',
        consultant: '',
        eb_admin: '',
        lead_status: '',
        commission: '',
        date_lead: '',
        date_lead_fa: '',
        follow_up: '',
        fa_contact_client: '',
        follow_up_date: '',
        survey_sent: '',
      },
      card_tasks: [],
      task: {
        name: '',
        subTasks:[],
        add_sub_task: false,
      },
      add_task: false,
      add_sub_task: false,
      priority_status: [
        {id: '1', name: 'High Priority', fcolor: '#FF0000'},
        {id: '2', name: 'Medium Priority', fcolor: '#00FF00'},
        {id: '3', name: 'Low Priority', fcolor: '#0000FF'},
      ],
      progress_status: [
        {id: '1', name: 'Active'},
        {id: '2', name: 'InActive'},],
      lead_types: [
        {id: '1', name: 'Claims'},
        {id: '2', name: 'Exit Member'},
        {id: '3', name: 'General Advice'},
        {id: '4', name: 'New Member'},
        {id: '5', name: 'Retirement'},
        {id: '6', name: 'Retrenchment Will'},
      ],
      directors: [
        {id: '1', name: 'Corrie Calitz'},
        {id: '2', name: 'Gerald Spies'},
        {id: '3', name: 'Duane Nienaber'},
        {id: '4', name: 'Patrick van Niekerk'},
        {id: '5', name: 'Du Preez Grobler'},
        {id: '6', name: 'Rayno van Vuuren'},
        {id: '7', name: 'Madeleen van den Berg'},
        {id: '8', name: 'Gerrit SMith'},
        {id: '9', name: 'Liesl Jonker'},
        {id: '10', name: 'Johan van der Mescht'},
        {id: '11', name: 'Ricus Venter'},
        {id: '12', name: 'Robert Lauwrens'},
        {id: '13', name: 'Neil Kinsley'},
      ],
      fund_consultants: [
        {id: '1', name: 'Amanda White'},
        {id: '2', name: 'Direct Client'},
        {id: '3', name: 'Douw Smit'},
        {id: '4', name: 'George Herman'},
        {id: '5', name: 'Liesl Nienaber'},
        {id: '6', name: 'Nadine Lewis'},
        {id: '7', name: 'Natasha le Roux'},
      ],
      eb_admins: [
        {id: '1', name: 'Adri de Jong'},
        {id: '2', name: 'Nikita Paulsen'},
        {id: '3', name: 'Rene Koekemoer'},
        {id: '4', name: 'Tanya Smit'},
        {id: '5', name: 'Tanya v Zyl'},
        {id: '6', name: 'Shaneley Alberts'},
        {id: '7', name: 'Individual Client'},
      ],
      lead_statuses: [
        {id: '1', name: 'Potential Lead'},
        {id: '2', name: 'Attempted to Contact'},
        {id: '3', name: 'Open Lead'},
        {id: '4', name: 'Completed'},
        {id: '5', name: 'Closed'},
        {id: '6', name: 'Unqualified'},
        {id: '7', name: 'Lead sent to FA'},
      ],
      card: {},
      task_assignee_id: 0,
      task_id: 0,
      add_deadline: false,
      deadline: "",
      link_client: false,
      send_email: false,
      client_name: '',
      add_subtask: false,
      subtask_name: "",
      view_subtasks: false,
      subTasks: {
        id: 0,
        name: "",
        assignee: "",
        due_date: "",
        subtasks_count: 0,
        subtasks: [],
        add_sub_task: false,
      },
      discussions: [],
      card_id: 0,
      task_update: {
        id: 0,
        name: '',
        assignee_id: 0,
        due_date: '',
        card_id: 0,
        status_id:0
      },
      task_name_update: false,
      internalValue: this.value,
      attachedDocuments:[],
      discussion_message: '',
      recordedAudio: null,
      recordings: [],
      input_values: [],
      // card_section_id: 0
    }
  },
  methods: {
    getDropdownItems(){
      axios.get('/card/get-dropdown-items')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.dropdown_items = response.data.dropdown_items;
                this.dropdown_items.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    cardSelect(){
      axios.get('/card/get-card-inputs')
            .then(response => {
              // console.log(response.data.card_inputs);
              this.card_inputs = response.data.card_inputs;
              this.card_inputs.$forceUpdate();
            })
            .catch(error => {
              /*console.log(error.response);*/
            });
      axios.get('/card/get-card-input_values')
            .then(response => {
              // console.log(response.data.card_input_values);
              this.card_input_values = response.data.card_input_values;
              this.card_input_values.$forceUpdate();
            })
            .catch(error => {
              /*console.log(error.response);*/
            });
    },
    getCardSections(){
      axios.get('/card/get-card-sections')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.card_sections = response.data.cards;
                this.card_sections.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    deleteDocument(card_id){
      let self = this;
      let formData = new FormData();

      /*console.log(document.getElementById("file-card").files[0]);*/
      formData.append('documentFile', document.getElementById("file-card").files[0]);
      formData.append('card_id', card_id);

      axios.post('/card/deletedocument', formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              })
              .then(function (response) {

                if(!response.data){
                  alert('File not deleted.');
                }else{
                  alert('File successfully deleted.');
                  self.card_form.document = '';
                }

              })
              .catch(function (error) {
                /*console.log(error);*/
              });
    },
    attachedDocument(card_id){
      let self = this;
      let formData = new FormData();

      /*console.log(document.getElementById("file-card").files[0]);*/
      formData.append('documentFile', document.getElementById("file-card").files[0]);
      formData.append('card_id', card_id);

      axios.post('/card/attachdocument', formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              })
              .then(function (response) {

                if(!response.data){
                  alert('File not uploaded.');
                }else{
                  alert('File successfully uploaded.');
                  self.card_form.document = response.data.filename;
                }

              })
              .catch(function (error) {
                /*console.log(error);*/
              });
    },
    attachDocument(){
      document.getElementById("file-card").click();
      this.attach_document = !this.attach_document;
    },
    closeCard(){
      this.$emit('close-me')
    },
    sendEmailTemplate(){
      this.email_template = true;
    },
    closeEmailTemplate(){
      this.emailSubject = '';
      this.emailContent = '';
      this.email_template = false;
    },
    saveEmailTemplate(){
      axios.get('/email_template/' + this.emailTemplate)
              .then(response => {
                this.email_template = false;
                this.send_email = true;
                this.emailSubject = response.data.email_subject;
                this.emailContent = response.data.email_content;
                this.emailTemplates.$forceUpdate();

              })
              .catch(error => {
                this.email_template = false;
                /*console.log(error.response);*/
              });
    },
    closeSendEmail(){
      this.emailSubject = '';
      this.emailContent = '';
      this.send_email = false;
    },
    saveSendEmail(){
      axios.post('/send_email_template',{addresses: this.emailAddresses, subject: this.emailSubject, emailbody: this.emailContent})
              .then(response => {
                this.emailTemplate = '';
                this.emailSubject = '';
                this.emailContent = '';
                this.send_email = false;
                this.email_template = false;
                this.$emit('close-me');
              })
              .catch(error => {
                this.send_email = false;
                this.email_template = false;
                /*console.log(error.response);*/
              });
    },
    saveLinkClient(){
      this.link_client = false;
    },
    closeLinkClient(){
      this.closedLinkClient = true;
      this.link_client = false;
    },
    linkClient(){
      this.link_client = true;
    },
    taskUserAssigned(index){
      this.card_tasks[index].selected_assignee = this.card_tasks[index].assignee;
      this.card_tasks[index].assignee_name = this.card_tasks[index].assignee;
      this.card_tasks[index].assign_user = !this.card_tasks[index].assign_user;
    },
    assignTask(index){
      this.card_tasks[index].assignee = this.card_tasks[index].assignee_name;
      this.office_users = [];
      axios.get('/task')
              .then(response => {
                this.office_users = response.data.office_users;
                this.office_users.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });

      this.card_tasks[index].add_deadline = false;
      this.card_tasks[index].add_sub_tasks = false;
      this.card_tasks[index].assign_user = !this.card_tasks[index].assign_user;
      //console.log(this.card_tasks[index].assign_user);
    },
    handleChange2() {
      const d = new Date(this.card_form.due_date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.card_form.due_date = t;
      this.card_form.open = !this.card_form.open;
    },
    handleChange(index) {
      const d = new Date(this.card_tasks[index].due_date);
        const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      //console.log(t);

        this.card_tasks[index].assign_task = false;
        this.card_tasks[index].add_sub_task = false;
        this.card_tasks[index].selected_duedate = t;
        this.card_tasks[index].add_deadline = !this.card_tasks[index].add_deadline;

        this.card_tasks[index].open6 = false;

    },
    handleChange4(index,subindex) {
      const d = new Date(this.card_tasks[index].sub_tasks[subindex].due_date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);



      this.card_tasks[index].sub_tasks[subindex].add_deadline = false;
      this.card_tasks[index].sub_tasks[subindex].open4 = false;

    },
    handleDate() {
      const d = new Date(this.card_form.date_lead);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.date_lead = t;

      // this.section.card_form.open = false;
    },
    handleDate2() {
      const d = new Date(this.card_form.date_lead_fa);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.date_lead_fa = t;

      // this.section.card_form.open = false;
    },
    handleDate3() {
      const d = new Date(this.card_form.fa_contact_client);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.fa_contact_client = t;

      // this.section.card_form.open = false;
    },
    handleDate4() {
      const d = new Date(this.card_form.follow_up_date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.follow_up_date = t;

      // this.section.card_form.open = false;
    },
    customLabel (option) {
      return `${option}`
    },
    cardID(card_id){
      this.card_id = card_id;
    },
    getOfficeClients(){
      axios.get('/card/get-office-clients')
              .then(response => {
                this.office_clients = response.data.office_clients;
                //console.log(response.data.office_clients);
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeUsers(){
      axios.get('/task/advisor')
              .then(response => {
                this.office_users = response.data.office_users;
                this.office_users.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeAdvisors(){
      axios.get('/task/advisor')
              .then(response => {
                this.office_advisors = response.data.office_users;
                this.office_advisors.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getCardsDropDown(){
      axios.get('/card/get-cards')
      .then(response => {
        /*console.log('card_drop_down', response.data.cards);*/
        this.cards_drop_down = response.data.cards;
        this.cards_drop_down.$forceUpdate();
      })
      .catch(error => {
        /*console.log(error.response);*/
      });
    },
    getEmailTemplates(){
      axios.get('/email_templates')
              .then(response => {
                this.emailTemplates = response.data;
                this.emailTemplates.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getCardStatus(){
      axios.get('card/status')
      .then(response => {
        this.priority_status = response.data.priority_status;
        this.progress_status = response.data.progress_status;
      })
      .catch(error => {
        console.log(error)
      });
    },
    inDays(due_date) {
      let t1 = new Date().getTime();
      let t2 = new Date(due_date).getTime();
      let days = parseInt((t2-t1)/(24*3600*1000));

      if(days < -500) return "N/A";
      if(days < -1 && days > -500) return days + "Days";
      if(days === 1) return "+"+days + " Day";
      if(days === -1) return days + " Day";
      if (days > 1) return "+"+days + " Days";

      return "N/A";
    },
    renameCard(cardName){
      this.card_form.updateFlag = 1;
      this.card_form.name = cardName;
      this.addSectionFlag = false;
    },
    updateClient(clientName){
      if(this.card_form.updateClient === 0){
        this.card_form.updateClient = 1;
      } else {
        this.card_form.updateClient = 0;
      }
      this.card_form.client_name = clientName;
      this.card_form.client_id = clientName;
      this.addSectionFlag = false;
    },
    addTask() {
      let i = (this.card_tasks.length);

      if (!this.card_tasks) {
        //this.activities[index].rules = {rule_value:'',rule_process:'',rule_step:'',processs:'',stepss:''};
        //[];
      }


      this.card_tasks.push(
              {
                id: null,
                name: "",
                assignee_id: null,
                assignee_name: '',
                sub_tasks: [],
                subTasks: [],
                date: null,
                add_deadline: false,
                assign_user: false,
                open:false,
                add_sub_task:false,
                selected_assignee: '',
                assignee: '',
                selected_duedate: '',
                editTask: true
              }
      );
      /*this.add_task = true;*/
    },
    addSubTasks(index){
      this.card_tasks[index].assign_task = false;
      this.card_tasks[index].add_deadline = false;
      if(this.card_tasks[index].add_sub_task){
        this.card_tasks[index].add_sub_task = false;
        this.$forceUpdate();
      } else {
        this.card_tasks[index].add_sub_task = true;
        this.$forceUpdate();
      }

      let i = (this.card_tasks.length);

      if (!this.card_tasks) {
        //this.activities[index].rules = {rule_value:'',rule_process:'',rule_step:'',processs:'',stepss:''};
        //[];
      }

      if(this.card_tasks[index].sub_tasks.length === 0) {
        this.card_tasks[index].sub_tasks.push({
          name: "",
          open4: false,
          selected_duedate: '',
          add_deadline: false,
          editSubtask: true
        });
      }
    },
    addSubTask(index){
      let i = (this.card_tasks.length);

      if (!this.card_tasks) {
        //this.activities[index].rules = {rule_value:'',rule_process:'',rule_step:'',processs:'',stepss:''};
        //[];
      }

      this.card_tasks[index].sub_tasks.push({
        name:"",
        open4:false,
        selected_duedate:'',
        add_deadline: false,
        editSubtask: true
      });
    },
    assignUser(index){
      if(this.card_tasks[index].assign_user){
        this.card_tasks[index].assign_user = false;
      } else {
        this.card_tasks[index].assign_user = true;
      }
    },
    addDeadline(index){
      if(this.card_tasks[index].add_deadline) {
        this.card_tasks[index].add_deadline = false;
        this.$forceUpdate();
      } else {
        this.card_tasks[index].add_deadline = true;
        this.$forceUpdate();
      };
      /*console.log(this.card_tasks[index].add_deadline);*/
    },
    finishAddingSubtasks(){
      this.add_subtask = false;
    },
    viewSubtasks(task){
      this.subtasks.name = task.name;
      this.subtasks.assignee = task.assigned.first_name + " " + task.assigned.last_name;
      this.subtasks.due_date = task.due_date;
      this.subtasks.subtasks_count = task.sub_tasks.length;
      this.subtasks.subtasks = task.sub_tasks;
      this.view_subtasks = !this.view_subtasks;
    },
    saveDiscussionMessage(card_id){
      if (this.discussion_message.length === 0){
        toastr.warning('<strong>Warning!</strong> Discussion message is required.');

        toastr.options.timeOut = 1000;
        return false;
      }

      axios.post('/discussion', {
        card_id: card_id,
        message: this.discussion_message
      }).then(response => {
        this.discussion_message = "";
        this.discussions.push(response.data.discussion);
        toastr.success('<strong>Success!</strong> Discussion successfully saved.');

        toastr.options.timeOut = 1000;
      }).catch(error => console.log(error.response));
    },
    saveTask(section){
      let err = 0;

      // if (this.card_form.name.length === 0){
      //   err++;
      // }

      // if (this.card_form.progress_status_id.length === 0){
      //   err++;
      // }

      // if (this.card_form.priority_status_id.length === 0){
      //   err++;
      // }


      for (var i = 0; i < this.card_tasks.length; i++) {
        if($('.task_'+i).is(':visible')) {
          if (this.card_tasks[i].name === "Add task name" || this.card_tasks[i].name === '') {
            err++;
          }

          for (var j = 0; j < this.card_tasks[i].sub_tasks.length; j++) {
            if (this.card_tasks[i].sub_tasks[j].name === "Add subtask name" || this.card_tasks[i].sub_tasks[j].name === "") {
              err++;
            }

            if (this.card_tasks[i].sub_tasks[j].name === null) {
              err++;
            }
          }

          this.card_tasks[i]["section_id"] = section.section_id;
        }
      }

      if(err > 0){
        this.hasError = true;
        return false;
      } else {
        this.hasError = false;
      }

      let card_id = $('#card_id').val()

      axios.post('card/save-task/'+card_id, {
        section: section,
        task: this.card_tasks,
        card_form: this.card_form,
        card_name: this.card_form.name,
        client_id: 0
      })
              .then(response => {
                console.log(response.data.Card);
                this.card_tasks = response.data.Card.tasks;
                /*this.$emit('new-task', response.data.Card);*/
                // this.$emit('update:client_id', response.data.Card, "client_id");
                // this.$emit('update:name', response.data.Card, "name");
                this.card_tasks.forEach((task, ind) => {
                  task.open = false;
                  task.add_sub_task = false;
                });
                toastr.success('<strong>Success!</strong> Card was successfully saved.');

                toastr.options.timeOut = 1000;
                this.$emit('close-me')

              })
              .catch(function (error) {
                toastr.error('<strong>Error!</strong> An unexpected error occured when trying to save the card.');

                toastr.options.timeOut = 1000;
              });
    },
    addSubtaskDeadline(index,subindex){
      this.card_tasks[index].sub_tasks[subindex].add_deadline = !this.card_tasks[index].sub_tasks[subindex].add_deadline;
    },
    enableTask(index){
      this.card_tasks[index].editTask = !this.card_tasks[index].editTask;
    },
    enableSubtask(index,subindex){
      this.card_tasks[index].sub_tasks[subindex].editSubtask = !this.card_tasks[index].sub_tasks[subindex].editSubtask;
    },
    uncompleteTask(index){
      axios.post('/task/update_status/' + this.card_tasks[index].id, {
        status: 0
      })
              .then(response => {
                alert("Task was updated successfully");
                this.card_tasks[index].status = false;
              })
              .catch(function (error) {
                console.log(error.response);
              });
    },
    completeTask(index){
      axios.post('/task/update_status/' + this.card_tasks[index].id, {
        status: 1
      })
              .then(response => {
                alert("Task was updated successfully");
                this.card_tasks[index].status = true;
              })
              .catch(function (error) {
                console.log(error.response);
              });
    },
    deleteTask(index){
      if(confirm("Are you sure you want to delete this task?")) {
        axios.post('/task/delete/' + this.card_tasks[index].id)
                .then(response => {
                  toastr.success('<strong>Success!</strong> Task was deleted successfully.');

                  toastr.options.timeOut = 1000;
                  this.card_tasks.splice((index), 1);
                  /*$(".task_" + index).hide();*/
                })
                .catch(function (error) {
                  console.log(error.response);
                });
      }
    },
    deleteSubtask(index,sub_index){
      if(confirm("Are you sure you want to delete this subtask?")) {
        axios.post('/task/delete/' + this.card_tasks[index].sub_tasks[sub_index].id)
                .then(response => {
                  toastr.success('<strong>Success!</strong> Subtask was deleted successfully.');

                  toastr.options.timeOut = 1000;
                  this.card_tasks[index].sub_tasks.splice((sub_index), 1);
                  /*$(".task_" + index).hide();*/

                  if (this.card_tasks[index].sub_tasks.length === 0) {
                    this.card_tasks[index].add_sub_task = false;
                  }
                })
                .catch(function (error) {
                  console.log(error.response);
                });
      }
    },
    uncompleteSubtask(index,sub_index){
      axios.post('/task/update_status/' + this.card_tasks[index].sub_tasks[sub_index].id, {
        status: 0
      })
              .then(response => {
                alert("Task was updated successfully");
                this.card_tasks[index].status = false;
              })
              .catch(function (error) {
                console.log(error.response);
              });
    },
    completeSubtask(index,sub_index){
      axios.post('/task/update_status/' + this.card_tasks[index].sub_tasks[sub_index].id, {
        status: 1
      })
              .then(response => {
                alert("Task was updated successfully");
                this.card_tasks[index].status = true;
              })
              .catch(function (error) {
                console.log(error.response);
              });
    },
    saveVoice(index){
      /*console.log(index);*/
      var recording = document.getElementById('audioPlayer').src;
      var player = document.getElementById('audioFiles');
      var formData = new FormData();
      // var voice_recording = document.getElementById('audioPlayer');
      formData.append("audio", this.recordedAudio);
      formData.append("card_id", index);
      axios.post('/voice/record/' + index, formData,{
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        // card_id: index,
        // audio: this.recordedAudio,
      })
              .then(response => {
                toastr.success('<strong>Success!</strong> Voice recording was saved successfully.');

                toastr.options.timeOut = 1000;
                 this.recordings.push({card_id:response.data.recording.card_id,user:response.data.recording.user, recording:response.data.recording.recording})
              })
              .catch(function (error) {
                console.log(error.response);
              });
    },
    // callback (data) {
    //     console.debug(data)
    //   },
    onResult (data) {
      /*console.log('The recorded data:', data);
      console.log('Downloadable audio', window.URL.createObjectURL(data));*/
      document.getElementById('audioPlayer').src = window.URL.createObjectURL(data);
      this.recordedAudio = data;
    },
  }
}
</script>
<style scoped>
  .card-discussion{
    background:#ecf1f4;
    padding: 0.7rem  0.7rem 1.5rem 0.7rem;
    margin:0 -0.7rem;
  }

  .card-recordings{
    padding:1.5rem;
    margin:0 -1.5rem;
  }

  .view-card .card-body{
    padding: 0 0.7rem 0.7rem 0.7rem !important;
  }

.card-body{
  height: calc(100% - 9rem);
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 0px !important;
}

.view-card{
  position: absolute;
  right: 0px;
  top: 4.35rem;
  z-index: 10;
  background: #FFFFFF;
  overflow: auto;
  height: calc(100vh - calc(70px + 3rem));
}

.card-comments{
  background: #eae9e9;
  overflow: auto;
  width:100%;
  height: calc(100vh - calc(70px + 3rem));
}

  .subtask{
    width:100%;
    padding-left:1.5rem;
    margin:0px !important;
  }
  .addsubtask{
    width:100%;
    text-align: right;
    font-size: 0.75rem;
  }

  input.form-control-sm {
    height: 32px !important;
  }

  .mx-datepicker{
    width: 100% !important;
  }
</style>