  <template>
  <div class="create-card elevation-4" style="width: 800px;">
    <div class="card-header">
      <small style="color: #06496f;opacity: 0.5;">{{section.name}}</small>
      <br>
      <div class="row">
        <div class="col-md-12 m-0 pt-2 pb-0 pr-0">
        <small>Card Name</small>
        <input type="text" class="form-control form-control-sm" v-bind:class="{'is-invalid' : hasError}" v-model="section.card_form.name">
        <input hidden :id="'board_id'" :name="'board_id'" type="text" class="form-control form-control-sm" v-model="section.card_form.section_id">
        </div>
        <!--<div class="col-md-2 m-0 text-right">
          <a href="javascript:void(0)"  @click="linkClient()"><i class="fas fa-link"></i></a>
        </div>-->
      </div>

    </div>
    <div class="card-body" style="direction: rtl">
      <div style="direction: ltr">
        <div class="row" style="margin-top:0px;">
          <div class="col-md-11 pb-0 pt-0">
            <small class="card-lables">Client</small>
            <select v-model="client_link" class="form-control form-control-sm"  v-bind:class="{'is-invalid' : hasError}">
              <!-- <option selected disabled>Select card</option> -->
              <option v-for="client in office_clients" :value="client">{{client}}</option>
            </select>
          </div>
          <div class="col-md-11 pb-0 pt-0">
            <small class="card-lables">Card</small>
            <select @change="cardSelect" v-model="card_section_id" class="form-control form-control-sm"  v-bind:class="{'is-invalid' : hasError}">
              <!-- <option selected disabled>Select card</option> -->
              <option v-for="card in card_sections" :value="card.id">{{card.name}}</option>
            </select>
          </div>
        </div>

        <div v-for="input in card_inputs">

          <!-- <p>{{input['order']}}</p><br> -->

          <div v-if="input.input_type == 'heading'">
            <div class="row" style="margin-top:1rem;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small><strong>{{input.name}}</strong></small>
              </div>
            </div>
          </div>

          <div v-if="input.input_type == 'text'">
            <div class="row" style="margin-top:1rem;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <input :id="'input_'+input.id" type="text" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_values['input_'+input.id]" />
              </div>
            </div>
          </div>

          <div v-if="input.input_type == 'textarea'">
            <div class="row" style="margin-top:1rem;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <textarea :id="'input_'+input.id" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_values['input_'+input.id]" ></textarea>
              </div>
            </div>
          </div>
          
          <div v-if="input.input_type == 'date'">
            <div class="row" style="margin-top:0px;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <!-- <DateField :id="'input_'+input.id" :name="'input_'+input.id" v-model="input_values['input_'+input.id]" type="date" @pick="handleDate()" :use-utc="false"></DateField> -->
                <input :type="'date'" :id="'input_'+input.id" type="text" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_values['input_'+input.id]" />
              </div>
            </div>
          </div>

          <div v-if="input.input_type == 'boolean'">
            <div class="row" style="margin-top:1rem;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <br>
                <input :id="'input_'+input.id" :name="'input_'+input.id" v-model="input_values['input_'+input.id]" type="radio" value="1">
                <label>Yes</label>
                <br>
                <input :id="'input_'+input.id" :name="'input_'+input.id" v-model="input_values['input_'+input.id]" type="radio" value="0">
                <label>No</label>
              </div>
            </div>
          </div>

          <div v-if="input.input_type == 'dropdown'">
            <div class="row" style="margin-top:1rem;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <select :id="'input_'+input.id" :name="'input_'+input.id" class="form-control form-control-sm chosen-select" v-model="input_values['input_'+input.id]">
                  <option :value="0"></option>
                  <template v-for="item in dropdown_items">
                    <template v-if="item.card_input_dropdown_id == input.input_id">
                      <option  :value="item.id">{{item.name}}</option>
                    </template>
                  </template>
                </select>
              </div>
            </div>
          </div>

          <div v-if="input.input_type == 'document'">
            <div class="row" style="margin-top:0px;">
              <div class="col-md-11 mb-0 mt-0 pt-0">
                <small>{{input.name}}</small>
                <input :type="'file'" :id="'input_'+input.id" :name="'input_'+input.id" class="form-control form-control-sm" v-model="input_values['input_'+input.id]" />
              </div>
            </div>
          </div>

        </div>
        
        <!-- <br> -->
        <!-- <p><strong>Tasks</strong><a href="javascript:void(0)" class="text-primary float-right" @click="addTask"><i class="fa fa-plus"></i> Add task</a></p> -->
        <!-- <div class="col template-tasks">
          <div style="position:relative;border-bottom:1px solid #ecf1f4;padding-bottom:0.5rem;margin-bottom:0.5rem;" v-for="(taskItems, task_item_index) in card_tasks" :class="'task_'+task_item_index">
            <div class="row">
              <div class="col-lg-10 pt-0 pb-0">
                <input type="hidden" class="form-control form-control-sm task-name" v-model="taskItems.id">
                <input v-bind:class="{'is-invalid' : hasError}" v-if="taskItems.editTask" type="text" class="form-control form-control-sm task-name" placeholder="Add task name" v-model="taskItems.name">
                <span v-if="!taskItems.editTask" @click="enableTask(task_item_index)" style="line-height:3rem;">{{taskItems.name}}</span>
              </div>
              <div class="col-lg-2 text-right pt-0 pb-0">
                <a href="#" class="mr-1" v-show="taskItems.status" @click="uncompleteTask(task_item_index)"><i class="fas fa-check text-success mr-1"></i></a>
                <a href="#" class="mr-1" v-show="!taskItems.status" @click="completeTask(task_item_index)"><i class="fas fa-check text-default"></i></a>
                <a href="#" @click="deleteTask(task_item_index)"><i class="fas fa-trash"></i></a>
              </div>
            </div>
            <span class="float-left">
            <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee === ''"><i class="fas fa-user"></i> + Assign to a person</small>
            <small @click="assignTask(task_item_index)" v-if="taskItems.selected_assignee !== '' || taskItems.assignee_name !== ''"><i class="fas fa-user"></i>  {{taskItems.selected_assignee !== '' && taskItems.selected_assignee !== null ? taskItems.selected_assignee : taskItems.assignee_name}}</small>
            <div v-if="taskItems.assign_user" class="assign-person elevation-3">
              <div class="row pr-0 pb-0 pt-0 m-0">
                <div class="col-md-9 pl-0 pt-0 pb-0">
                <select v-model="taskItems.assignee" class="form-control form-control-sm" @change="taskUserAssigned(task_item_index)">
                  <option disabled>Select User</option>
                  <option v-for="user in office_users" :value="user">{{user}}</option>
                </select>
                </div>
              </div>
          </div>
          </span>
            <span class="float-right">
              <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate === '' || taskItems.due_date === ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> + Add deadline</small>
              <small @click="addDeadline(task_item_index)" v-if="taskItems.selected_duedate !== '' && taskItems.due_date !== ''"><span class="text-danger"><i class="fas fa-calendar-alt"></i></span> {{taskItems.selected_duedate !== '' && taskItems.selected_duedate !== null ? taskItems.selected_duedate : taskItems.due_date}}</small>
              <div class="assign-deadline elevation-3" v-show="taskItems.add_deadline">
                <DueDate v-model="taskItems.due_date" :open.sync="taskItems.open6" @pick="handleChange(task_item_index)" type="date" :use-utc="false"></DueDate>
              </div>
              <small @click="addSubTasks(task_item_index)" class="ml-1">
                <span v-if="taskItems.sub_tasks && taskItems.sub_tasks.length === 0"><span class="text-info"><i class="fas fa-network-wired"></i></span> + Add subtasks</span>
                <span v-if="taskItems.sub_tasks && taskItems.sub_tasks.length > 0"><span class="text-info"><i class="fas fa-network-wired"></i></span> {{taskItems.sub_tasks.length}} {{ taskItems.sub_tasks.length !== 1 ? "subtasks" : "subtask" }}</span>
              </small>
            </span>
            <div class="clearfix"></div>

          <div style="position:relative;display: block;" v-if="taskItems.add_sub_task">
            <div class="row subtask" v-for="(subtaskItems, subtask_item_index) in taskItems.sub_tasks">

              <div class="col-md-10 pt-0 pb-0">
                <input type="hidden" class="form-control form-control-sm task-name" v-model="subtaskItems.id" :class="'subtask_'+subtask_item_index">
                <input type="text" v-bind:class="{'is-invalid' : hasError}" v-show="subtaskItems.editSubtask" class="form-control form-control-sm task-name" placeholder="Add subtask name" v-model="subtaskItems.name">
                <span v-if="!subtaskItems.editSubtask" @click="enableSubtask(task_item_index,subtask_item_index)" style="line-height:3rem;">{{subtaskItems.name}}</span>
              </div>
              <div class="col-md-2 text-right pt-0 pb-0">
                <a href="#" class="mr-1" v-show="subtaskItems.status && !subtaskItems.editSubtask" @click="uncompleteSubtask(task_item_index,subtask_item_index)"><i class="fas fa-check text-success"></i></a>
                <a href="#" class="mr-1" v-show="!subtaskItems.status && !subtaskItems.editSubtask" @click="completeSubtask(task_item_index,subtask_item_index)"><i class="fas fa-check text-default"></i></a>
                <a href="#" class="text-danger mr-1" @click="addSubtaskDeadline(task_item_index,subtask_item_index)"><i class="far fa-calendar-alt"></i></a>
                <div class="assign-deadline2 elevation-3" v-show="subtaskItems.add_deadline">
                  <DueDate v-model="subtaskItems.due_date" autocomplete="off" :open.sync="subtaskItems.open4" @pick="handleChange4(task_item_index,subtask_item_index)" type="timestamp"></DueDate>
                </div>
                <a href="#" @click="deleteSubtask(task_item_index,subtask_item_index)" class="delete-subtask"><i class="fas fa-trash"></i></a>
              </div>

            </div>
            <div class="addsubtask">
              <a href="javascript:void(0)" @click="addSubTask(task_item_index)">+ Add Subtask</a>
            </div>
          </div>

          </div>
        </div> -->
      <!-- <div class="card-discussion" style="direction: ltr">
        <p><strong>Discussion</strong></p>
        <div class="row">
          <div class="col-md-10 pt-0 pb-0 pr-0 m-0">
            <input type="text" v-model="discussion_message" class="form-control form-control-sm">
          </div>
          <button type="button" @click="saveDiscussionMessage(cardDetails.id)" class="btn btn-sm btn-primary float-right ml-1">Post</button>
        </div>
        <div v-for="discussion in discussions">
          <strong>{{ (discussion.user.first_name?discussion.user.first_name:"") + " " + (discussion.user.last_name?discussion.user.last_name:"")}}</strong>
          <p>{{discussion.message}}</p>
          <hr>
        </div>
      </div> -->
        <!-- <div class="card-recordings">
        <p><strong>Voice Notes</strong></p>
        <div>
          <vue-record-audio @result="onResult" style="height:40px !important;width:40px !important;" />
          <audio id="audioPlayer" controls src="#" type="audio/mpeg" style="height:40px !important;width:calc(100% - 140px);"></audio>
          <a href="#" type="button" class="btn btn-secondary" style="margin-left: 7px;position:relative;top:-16px;line-height:1.25rem;margin-bottom:0px;" @click="saveVoice(cardDetails.id)" >Save</a>
        </div>
        <hr>
        <div v-for="voicenote in recordings">
          <div>
            <audio class="audioPlayer" controls :src="'/storage/recording/' + voicenote.recording" type="audio/mpeg" style="width:100%;height:40px;"></audio>
            <small class="text-muted float-left" style="margin-left: 10px;position:relative;font-size:65%;padding-bottom:7px;"><i class="fas fa-user"></i> {{ voicenote.user }}</small>
            <small class="text-muted float-right" style="margin-left: 10px;position:relative;font-size:65%;padding-bottom:7px;"><i class="fas fa-clock"></i> {{ voicenote.created_at }}</small>
          </div>
          <hr>
        </div>
      </div> -->
        </div>
    </div>
    <div class="card-footer clearfix">
      <button class="btn btn-sm btn-outline-info" @click="closeCreateCard">Cancel</button>
      <button type="button" @click="saveTask(section)" class="btn btn-sm btn-success float-right">Save Case</button>
    </div>

    <!--<div class="modal-mask" v-show="link_client" transition="modal" aria-hidden="true" role="dialog" style="position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);">
      <div class="modal-dialog">
        <div class="modal-content" style="width:800px;">
          <div class="modal-header">

            <span class="modal-title">Link Client</span>
            <button type="button" class="close" @click="closeLinkClient()">&times;</button>
          </div>
          <div class="modal-body link-client-modal" style="overflow:inherit;">
            <multiselect v-model="section.card_form.client_name" :custom-label="customLabel" placeholder="Select one" :options="office_clients" :searchable="true" :allow-empty="true" :multiple="false" :close-on-select="true">
            </multiselect>
            <button class="btn btn-sm btn-default float-right ml-1" @click="closeLinkClient()">Cancel</button>
            <button class="btn btn-sm btn-primary float-right" @click="saveLinkClient()">Save</button>
          </div>
        </div>
      </div>
    </div>-->
  </div>

</template>

<script>
import Multiselect from 'vue-multiselect'
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import VueRecord from '@codekraft-studio/vue-record';
import AudioRecorder from 'vue-audio-recorder'

export default {
  name: "CreateCard.vue",
  props: ["section"],
  components:{
    "DueDate": DatePicker,
    "DateField": DatePicker,
    "multiselect": Multiselect,
    'VueRecord' : VueRecord,
    'AudioRecorder' : AudioRecorder,
  },
  watch: {
    'section': function (val, oldVal) {
      this.tasks = val.tasks;
      this.hasError = false;
      this.card_form.open2 = false;
      this.card_form.saved = val.saved;
      this.card_form.selected_deadline = val.selected_deadline;
      this.recordings = [];
      this.discussions = [];
      this.discussion_message = '';
    }
  },
  data: function (){
    return {
      hasError:false,
      emailTemplate:0,
      emailTemplates:[],
      emailContent:'',
      emailAddresses:'',
      emailSubject:'',
      email_template: false,
      attach_document: false,
      selectedObjects: [],
      cards_drop_down: [],
      office_users: [],
      office_advisors: [],
      office_clients: [],
      lead_types: [],
      directors: [],
      fund_consultants: [],
      eb_admins: [],
      lead_statuses: [],
      card_sections: [],
      clients: [],
      dropdown_items: [],
      card_inputs:[],
      card_section_id:'',
      client_link:'',
      card_section_input: {
        input_id: []
      },
      card_form: {
        dependency_id: '',
        name: '',
        assignee_id: 0,
        assignee_name: '',
        team_ids: [],
        team_names: [],
        priority_status_id: "",
        progress_status_id: "",
        updateFlag: 0,
        updateClient: 0,
        files: '',
        document: '',
        client_name: '',
        member: '',
        contact: '',
        email: '',
        lead_type: '',
        lead_origin: '',
        director: '',
        advisor: '',
        consultant: '',
        eb_admin: '',
        lead_status: '',
        commission: '',
        date_lead: '',
        date_lead_fa: '',
        follow_up: '',
        fa_contact_client: '',
        follow_up_date: '',
        survey_sent: '',
      },
      card_tasks: [],
      task: {
        name: '',
        subTasks:[],
        add_sub_task: false,
      },
      add_task: false,
      add_sub_task: false,
      priority_status: [
        {id: '1', name: 'High Priority', fcolor: '#FF0000'},
        {id: '2', name: 'Medium Priority', fcolor: '#00FF00'},
        {id: '3', name: 'Low Priority', fcolor: '#0000FF'},
      ],
      progress_status: [
        {id: '1', name: 'Active'},
        {id: '2', name: 'InActive'},],
      lead_types: [
        {id: '1', name: 'Claims'},
        {id: '2', name: 'Exit Member'},
        {id: '3', name: 'General Advice'},
        {id: '4', name: 'New Member'},
        {id: '5', name: 'Retirement'},
        {id: '6', name: 'Retrenchment Will'},
      ],
      directors: [
        {id: '1', name: 'Corrie Calitz'},
        {id: '2', name: 'Gerald Spies'},
        {id: '3', name: 'Duane Nienaber'},
        {id: '4', name: 'Patrick van Niekerk'},
        {id: '5', name: 'Du Preez Grobler'},
        {id: '6', name: 'Rayno van Vuuren'},
        {id: '7', name: 'Madeleen van den Berg'},
        {id: '8', name: 'Gerrit SMith'},
        {id: '9', name: 'Liesl Jonker'},
        {id: '10', name: 'Johan van der Mescht'},
        {id: '11', name: 'Ricus Venter'},
        {id: '12', name: 'Robert Lauwrens'},
        {id: '13', name: 'Neil Kinsley'},
      ],
      fund_consultants: [
        {id: '1', name: 'Amanda White'},
        {id: '2', name: 'Direct Client'},
        {id: '3', name: 'Douw Smit'},
        {id: '4', name: 'George Herman'},
        {id: '5', name: 'Liesl Nienaber'},
        {id: '6', name: 'Nadine Lewis'},
        {id: '7', name: 'Natasha le Roux'},
      ],
      eb_admins: [
        {id: '1', name: 'Adri de Jong'},
        {id: '2', name: 'Nikita Paulsen'},
        {id: '3', name: 'Rene Koekemoer'},
        {id: '4', name: 'Tanya Smit'},
        {id: '5', name: 'Tanya v Zyl'},
        {id: '6', name: 'Shaneley Alberts'},
        {id: '7', name: 'Individual Client'},
      ],
      lead_statuses: [
        {id: '1', name: 'Potential Lead'},
        {id: '2', name: 'Attempted to Contact'},
        {id: '3', name: 'Open Lead'},
        {id: '4', name: 'Completed'},
        {id: '5', name: 'Closed'},
        {id: '6', name: 'Unqualified'},
        {id: '7', name: 'Lead sent to FA'},
      ],
      card: {},
      task_assignee_id: 0,
      task_id: 0,
      add_deadline: false,
      deadline: "",
      link_client: false,
      send_email: false,
      client_name: '',
      add_subtask: false,
      subtask_name: "",
      view_subtasks: false,
      subTasks: {
        id: 0,
        name: "",
        assignee: "",
        due_date: "",
        subtasks_count: 0,
        subtasks: [],
        add_sub_task: false,
      },
      discussions: [],
      card_id: 0,
      task_update: {
        id: 0,
        name: '',
        assignee_id: 0,
        due_date: '',
        card_id: 0,
        status_id:0
      },
      task_name_update: false,
      internalValue: this.value,
      attachedDocuments:[],
      discussion_message: '',
      recordedAudio: null,
      recordings: [],
      input_values: [],
    }
  },
  mounted() {
    this.getOfficeUsers();
    this.getOfficeClients();
    this.getOfficeAdvisors();
    this.getCardStatus();
    this.tasks = [];
    this.getCardsDropDown();
    this.getCardSections();
    this.getClients();
    this.getDropdownItems();
    this.cardSelect(event);
  },
  methods: {
    getClients(){
      axios.get('/card/get-clients')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                console.log('works');
                this.clients = response.data.clients;
                this.clients.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getDropdownItems(){
      axios.get('/card/get-dropdown-items')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.dropdown_items = response.data.dropdown_items;
                this.dropdown_items.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    cardSelect(event){
      axios.get('/card/get-card-inputs/'+event.target.value+'', {card_section_id:event.target.value})
            .then(response => {
              // console.log(card);
              this.card_inputs = response.data.card_inputs;
              this.card_inputs.$forceUpdate();
            })
            .catch(error => {
              /*console.log(error.response);*/
            });
    },
    getCardSections(){
      axios.get('/card/get-card-sections')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.card_sections = response.data.cards;
                this.card_sections.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getCardsDropDown(){
      axios.get('/card/get-cards')
              .then(response => {
                /*console.log('card_drop_down', response.data.cards);*/
                this.cards_drop_down = response.data.cards;
                this.cards_drop_down.$forceUpdate();
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    saveLinkClient(){
      this.link_client = false;
    },
    closeLinkClient(){
      this.closedLinkClient = true;
      this.link_client = false;
    },
    linkClient(){
      this.link_client = true;
    },
    taskUserAssigned(index){
      this.tasks[index].selected_assignee = this.tasks[index].assignee;
      this.tasks[index].assignee_name = this.tasks[index].assignee;
      this.tasks[index].assign_task = !this.tasks[index].assign_task;
    },
    handleChange(value, type) {
      const d = new Date(this.section.card_form.deadline);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.selected_deadline = t;

      this.section.card_form.open = false;
      this.autosaveCard(this.section);
    },
    handleChange2(index) {
      const d = new Date(this.tasks[index].date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].selected_duedate = t;

      this.tasks[index].add_deadline = false;
      this.tasks[index].open6 = false;

      this.autosaveCard(this.section);
    },
    handleChange3(index,subindex) {
      const d = new Date(this.tasks[index].subtasks[subindex].date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      /*this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;*/
      this.tasks[index].subtasks[subindex].selected_duedate = t;
      this.tasks[index].subtasks[subindex].add_deadline = false;

      this.tasks[index].subtasks[subindex].open14 = false;
      this.autosaveCard(this.section);
    },
    handleDate() {
      const d = new Date(this.section.card_form.date_lead);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.date_lead = t;

      // this.section.card_form.open = false;
    },
    handleDate2() {
      const d = new Date(this.section.card_form.date_lead_fa);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.date_lead_fa = t;

      // this.section.card_form.open = false;
    },
    handleDate3() {
      const d = new Date(this.section.card_form.fa_contact_client);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.fa_contact_client = t;

      // this.section.card_form.open = false;
    },
    handleDate4() {
      const d = new Date(this.section.card_form.follow_up_date);
      const t = d.getFullYear()  + "-" + (d.getMonth() + 1) + "-" + (d.getDate() + 0);

      this.section.card_form.follow_up_date = t;

      // this.section.card_form.open = false;
    },
    customLabel (option) {
      return `${option}`
    },
    addTask(){
      let i = (this.tasks.length);

      if (!this.tasks) {
        //this.activities[index].rules = {rule_value:'',rule_process:'',rule_step:'',processs:'',stepss:''};
        []
      }

      this.tasks.push(
              {
                name:"",
                assignee_id:null,
                subtasks:[{
                  name:"",
                  selected_duedate: "",
                  add_deadline: false,
                }],
                date:null,
                assign_task:false,
                add_deadline:false,
                selected_assignee:'',
                selected_duedate:'',
                open6: false,
                add_sub_task: false
              }
      );
      /*this.add_task = true;*/
    },
    getOfficeUsers(){
      axios.get('/task')
              .then(response => {
                this.office_users = response.data.office_users;
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeAdvisors(){
      axios.get('/task/advisor')
              .then(response => {
                this.office_advisors = response.data.office_users;
                this.office_advisors.$forceUpdate();

              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getOfficeClients(){
      axios.get('/card/get-office-clients')
              .then(response => {
                this.office_clients = response.data.office_clients;
              })
              .catch(error => {
                /*console.log(error.response);*/
              });
    },
    getCardStatus(){
      axios.get('card/status')
              .then(response => {
                this.priority_status = response.data.priority_status;
                this.progress_status = response.data.progress_status;
              })
              .catch(error => {
                /*console.log(error)*/
              });
    },
    deleteTask(index){
      if(confirm("Are you sure you want to delete this task?")) {
        toastr.success('<strong>Success!</strong> Task was deleted successfully.');

        toastr.options.timeOut = 1000;
        this.tasks.splice((index), 1);
        /*$(".task_" + index).hide();*/
      }
    },

    deleteSubtask(index,sub_index){
      if(confirm("Are you sure you want to delete this subtask?")) {
        toastr.success('<strong>Success!</strong> Subtask was deleted successfully.');

        toastr.options.timeOut = 1000;
        this.tasks[index].subtasks.splice((sub_index), 1);
        /*$(".task_" + index).hide();*/

        if (this.tasks[index].subtasks.length === 0) {
          this.tasks[index].add_sub_task = !this.tasks[index].add_sub_task;
        }
      }
    },
    assignTask(index){
      this.tasks[index].add_deadline = false;
      this.tasks[index].add_sub_tasks = false;
      this.tasks[index].assign_task = !this.tasks[index].assign_task;
    },
    addSubTasks(index){
      this.tasks[index].assign_task = false;
      this.tasks[index].add_deadline = false;
      this.tasks[index].add_sub_task = !this.tasks[index].add_sub_task;
    },
    addSubTask(index){

        this.tasks[index].subtasks.push({
          name:"",
          open14:false,
          selected_duedate:'',
          add_deadline: false,
        });
    },
    updateClient(clientName){
      if(this.card_form.updateClient === 0){
        this.card_form.updateClient = 1;
      } else {
        this.card_form.updateClient = 0;
      }
      this.card_form.client_name = clientName;
      this.addSectionFlag = false;
    },
    taskDeadlineSelected(index){

      const t = new Date(this.tasks[index].date).toISOString().slice(0, 10);

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].selected_duedate = t;
      this.tasks[index].add_deadline = !this.tasks[index].add_deadline;
    },
    addDeadline(index){

      this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;
      this.tasks[index].add_deadline = !this.tasks[index].add_deadline;
    },
    subtaskDeadlineSelected(index,subindex){

      const t = new Date(this.tasks[index].subtasks[subindex].date).toISOString().slice(0, 10);

      /*this.tasks[index].assign_task = false;
      this.tasks[index].add_sub_task = false;*/
      this.tasks[index].subtasks[subindex].selected_duedate = t;
      this.tasks[index].subtasks[subindex].add_deadline = !this.tasks[index].subtasks[subindex].add_deadline;
    },
    addSubtaskDeadline(index,subindex){
      this.tasks[index].subtasks[subindex].add_deadline = !this.tasks[index].subtasks[subindex].add_deadline;
    },
    closeCreateCard(){
      this.$emit('close-me')
    },
    autosaveCard(section){
      console.log(this.section.card_form.name);
      console.log(this.section.card_form.assignee_name);
      console.log(this.section.card_form.deadline);
      console.log(this.section.card_form.selected_deadline);
      console.log(this.section.card_form.progress_status_id);
      console.log(this.section.card_form.priority_status_id);
      let err = 0;
      if (this.section.card_form.name.length === 0){
        err++;
      }

      if (this.section.card_form.assignee_name.length === 0){
        err++;
      }

      if (this.section.card_form.deadline.length === 0){
        err++;
      }

      if (this.section.card_form.selected_deadline.length === 0){
        err++;
      }

      if (this.section.card_form.progress_status_id.length === 0){
        err++;
      }

      if (this.section.card_form.priority_status_id.length === 0){
        err++;
      }

      if(this.tasks.length === 0) {

        for (var i = 0; i < this.tasks.length; i++) {

          if(this.tasks[i].name === "Add task name" || this.tasks[i].name === ''){
            err++;
          }

          for (var j = 0; j < this.tasks[i].subtasks.length; j++) {
            if(this.tasks[i].subtasks[j].name === "Add subtask name" || this.tasks[i].subtasks[j].name === ""){
              err++;
            }

            if(this.tasks[i].subtasks[j].name === null){
              err++;
            }
          }

          this.tasks[i]["section_id"] = section.section_id;
        }
      }

      if(err > 0){
        //this.hasError = true;
        return false;
      } else {
        this.hasError = false;
      }
      axios.post('/card', {
        saved: 0,
        section: section,
        task: this.tasks,
        card_form: section.card_form,
        card_name: section.card_form.name,
        client_name: section.card_form.client_name
      })
              .then(response => {
                if(this.section.card_form.saved !== 0){

                } else
                {
                  this.section.card_form.saved = response.data.Card.id;
                }
              })
              .catch(function (error) {
                /*console.log(error.response);*/
              });
    },
    saveTask(section){
      let err = 0;
      // if (this.section.card_form.name.length === 0){
      //   // console.log('name');
      //   err++;
      // }

      // if (this.section.card_form.progress_status_id.length === 0){
      //   // console.log('status');
      //   err++;
      // }

      // if (this.section.card_form.priority_status_id.length === 0){
      //   // console.log('priority');
      //   err++;
      // }

      // if(this.tasks.length === 0) {

      //   for (var i = 0; i < this.tasks.length; i++) {

      //       if(this.tasks[i].name === "Add task name" || this.tasks[i].name === ''){
      //           err++;
      //       }

      //       for (var j = 0; j < this.tasks[i].subtasks.length; j++) {
      //           if(this.tasks[i].subtasks[j].name === "Add subtask name" || this.tasks[i].subtasks[j].name === ""){
      //               err++;
      //           }

      //           if(this.tasks[i].subtasks[j].name === null){
      //               err++;
      //           }
      //       }

      //       this.tasks[i]["section_id"] = section.section_id;
      //   }
      // }

      if(err > 0){
        this.hasError = true;
        return false;
      } else {
        this.hasError = false;
      }

      // console.log($('#board_id').val());
        axios.post('/card', {
          saved: 1,
          card_section_id: this.card_section_id,
          client_link: this.client_link,
          task: this.tasks,
          card_name: section.card_form.name,
          board_id: $('#board_id').val(),
        })
                .then(response => {

                  $( this.card_inputs ).each(function( index, input ) {
                    // console.log( $('#input_'+input.id).val() );
                    if(input.input_type == 'text'){
                      // console.log($('#input_'+input.id).val());
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'text'
                      })
                    }
                    if(input.input_type == 'textarea'){
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'textarea'
                      })
                    }
                    if(input.input_type == 'date'){
                      // console.log($('#input_'+input.id).val());
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'date'
                      })
                    }
                    if(input.input_type == 'boolean'){
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'boolean'
                      })
                    }
                    if(input.input_type == 'amount'){
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'amount'
                      })
                    }
                    if(input.input_type == 'dropdown'){
                      // console.log($(''#input_'+input.id).val()');
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'dropdown'
                      })
                    }
                    if(input.input_type == 'document'){
                      // console.log($('#input_'+input.id).val());
                      axios.post('/card/save-card-input', {
                        data:$('#input_'+input.id).val(),
                        card_input_id:input.id,
                        client_id:response.data.card_id,
                        input_type:'document'
                      })
                    }
                  });

                    this.$emit('new-task', response.data.Card);

                    toastr.success('<strong>Success!</strong> Card was successfully created.');

                    toastr.options.timeOut = 1000;

                    this.$emit('close-me');

                    location.reload();
                })
                .catch(function (error) {
                  /*console.log(error.response);*/
                });
      },
    saveVoice(){
      let index = this.section.card_form.saved

      if(index !== 0) {
        var recording = document.getElementById('audioPlayer').src;
        var player = document.getElementById('audioFiles');
        var formData = new FormData();
        // var voice_recording = document.getElementById('audioPlayer');
        formData.append("audio", this.recordedAudio);
        formData.append("card_id", index);
        axios.post('/voice/record/' + index, formData, {
          headers: {
            'Content-Type': 'multipart/form-data'
          },
          // card_id: index,
          // audio: this.recordedAudio,
        })
                .then(response => {
                  toastr.success('<strong>Success!</strong> Voice recording was saved successfully.');

                  toastr.options.timeOut = 1000;
                  this.recordings.push({
                    card_id: response.data.recording.card_id,
                    user: response.data.recording.user,
                    recording: response.data.recording.recording
                  })
                })
                .catch(function (error) {
                  console.log(error.response);
                });
      } else {
        toastr.error('<strong>Error!</strong> Please complete all required case fields first.');

        toastr.options.timeOut = 1000;
        return false;
      }
    },
    // callback (data) {
    //     console.debug(data)
    //   },
    onResult (data) {
      /*console.log('The recorded data:', data);
      console.log('Downloadable audio', window.URL.createObjectURL(data));*/
      document.getElementById('audioPlayer').src = window.URL.createObjectURL(data);
      this.recordedAudio = data;
    },
    saveDiscussionMessage(){
      let card_id = this.section.card_form.saved

      if(card_id !== 0) {
        if (this.discussion_message.length === 0) {
          toastr.warning('<strong>Warning!</strong> Discussion message is required.');

          toastr.options.timeOut = 1000;
          return false;
        }

        axios.post('/discussion', {
          card_id: card_id,
          message: this.discussion_message
        }).then(response => {
          this.discussion_message = "";
          this.discussions.push(response.data.discussion);
          toastr.success('<strong>Success!</strong> Discussion successfully saved.');

          toastr.options.timeOut = 1000;
        }).catch(error => console.log(error.response));
      } else {
        toastr.error('<strong>Error!</strong> Please complete all required case fields first.');

        toastr.options.timeOut = 1000;
        return false;
      }
    }


  }
}
</script>

<style scoped>
  .card-discussion{
    background:#ecf1f4;
    padding: 0.7rem  0.7rem 1.5rem 0.7rem;
    margin:0 -0.7rem;
  }

  .card-recordings{
    padding:1.5rem;
    margin:0 -1.5rem;
  }

  .create-card{
    position: absolute;
    right: 0;
    top: 4.35rem;
    z-index: 10;
    background: #FFFFFF;
    height: calc(100vh - calc(70px + 3rem));
  }

  .create-card .card-body{
    padding: 0 0.7rem 0.7rem 0.7rem !important;
  }

  .mx-datepicker{
    width: 100% !important;
  }

  .task-name{
    border: none;
    border-left: 3px solid #06496f;
    font-weight: 900;
    color: #06496f;
  }
  .task-name:focus{
    border: 1px solid #b5c9d4;
    box-shadow: unset !important;
  }
  .position-relative>small{
    cursor: pointer;
  }
  select{
    color: #06496f;
  }
  deadline{
    width: 100%;
  }


  .card-body{
    height:calc(100% - 9rem);
    overflow: auto;
    overflow-x: hidden;
  }

  .subtask{
    width:100%;
    padding-left:1.5rem;
    margin:0px !important;
  }
  .addsubtask{
    width:100%;
    text-align: right;
    font-size: 0.75rem;
  }
</style>